.signinContainer{
    background-color:#212529;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 50%;
}


.signinContainer .column{
    flex-grow: 0;
    width: 450px;
    padding: 20px 35px;
    max-height: 100%;
    overflow-y: auto;
}

.signinContainer .column .header{
    padding: 20px 0;

}
.signinContainer .column .header h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding-bottom: 0;
    padding-top: 16px;
}
.signinContainer .column .header span{
    font-size: 14px;
}
.signinContainer .column .header img{
    height: 30px;
}
.signinContainer .column .loginForm {
    padding-top: 24px;
}
.signinContainer .column form{
    display: flex;
    flex-direction: column;
}
.signinContainer .column form input[type="text"],
.signinContainer .column form input[type="email"],
.signinContainer .column form input[type="password"]{
    background-color: transparent;
    color: white;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid white;
}
.signinContainer .column form input[type="submit"]{
    background: #4285f2;
    color: white;
    height: 36px;
    width: 88px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}
.signInMessage{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.errorMessage {
    color: #f00;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.watchLeftColumn{
    flex: 1;
}
.watchLeftColumn .videoPlayer{
    width: 100%;
}
.suggestions{
    max-width: 425px;
    flex-grow: 1;
    height: 100%;
    padding-left: 24px;
    
}
h1{
    display: block;
        overflow: hidden;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
}

.commentSection .header {
    margin-top: 24px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.commentSection .header .commentForm .profilePicture,
.commentSection .comment .profilePicture,
.commentForm .profilePicture {
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.commentSection .header .commentCount {
    margin-bottom: 24px;
}

.commentSection .header .commentForm,
.itemContainer .commentForm {
    display: flex;
}

.commentSection .header .commentForm textarea,
.itemContainer .commentForm textarea {
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #111;
    resize: none;
}

.itemContainer .commentForm textarea {
    height: 30px;
}

.commentSection .header .commentForm .postComment,
.itemContainer .commentForm .postComment,
.itemContainer .commentForm .cancelComment {
    height: 36px;
    background-color: #2692e6;
    color: #fff;
    font-weight: 500;
    border: none;
    padding: 0 15px;
    border-radius: 2px;
}

.itemContainer .commentForm .cancelComment {
    background-color: transparent;
    color: rgba(17,17,17,0.6);
}

.itemContainer .commentForm .cancelComment:hover {
    color:#000;
}

.commentSection .itemContainer {
    margin-bottom: 16px;
}

.commentSection .comment {
    display: flex;
}

.commentSection .commentHeader {
    margin-bottom: 2px;
}

.commentSection .comment .username {
    margin-right: 8px;
    color: #111;
    font-size: 13px;
    font-weight:500;
}

.commentSection .comment .body{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.cotrols{
    margin-left: 50px;
}
.itemContainer .controls button,
.itemContainer .controls .likesCount{
    height: 32px;
    background-color: transparent;
    border: none;
    font-size: 13px;
    font-weight: 500;
    color: rgba(17,17,17,0.6);
}
.itemContainer .controls button{
    cursor: pointer;
}
.itemContainer .controls .likesCount{
    margin: 0 5px;
}
.itemContainer .controls button img{
    height: 16px;
}
.itemContainer .commentForm .profilePicture{
    width: 30px;
    height: 30px;
}
.commentSection .comment .timestamp{
    color: #888;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.hidden {
    display: none !important;
}

.comments .repliesSection {
    padding-left: 64px;
    margin-top : 16px;
}

.commentSection .itemContainer .viewReplies {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.videoGrid {
    display: flex;
    flex-wrap: wrap;
}

.suggestions .VideoGridItem {
    display: flex;
    height: auto;
}

.VideoGridItem {
    height: 200px;
    margin-right: 4px;
    margin-bottom: 24px;
}

.VideoGridItem .thumbnail {
    width: 210px;
    height: 118px;
    position: relative;
}
.suggestions .VideoGridItem .thumbnail {
    margin-right: 8px;
}

.VideoGridItem .thumbnail img {
    width: 100%;
    height: 100%;
}
.VideoGridItem .thumbnail .duration {
    bottom: 0;
    right: 0;
    position: absolute;
    margin: 4px;
    color: #fff;
    background-color: rgba(17,17,17,0.8);
    opacity: 0.8;
    padding: 2px 4px;
    border-radius: 2px;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
}
.VideoGridItem .details {
    padding-right: 24px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 210px;
}

.suggestions .VideoGridItem .details {
    padding-right: 0;
    flex: 1;
}
.VideoGridItem .details .title {
    margin: 8px 0;
    max-height: 32px;
    overflow : hidden;
    font-size : 14px;
    font-weight : 500;
    line-height : 16px;
    color : #212529;
}
.VideoGridItem .details .username,
.VideoGridItem .details .stats {
    color: rgba(17,17,17,0.6);
    font-size: 13px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.videoGridHeader{
    display: flex;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
}
.videoGridHeader div{
    flex: 1;
}
.videoGridlarge {
    flex-direction: column;
    flex: 1;
}

.videoGridlarge .VideoGridItem {
    height: auto;
    display: flex;
}

.videoGridlarge .VideoGridItem .thumbnail {
    width: 266px;
    height: 138px;
    margin-right: 16px;
}
.videoGridlarge .VideoGridItem .details {
    max-width: 600px;
    flex: 1;
}

.videoGridlarge .VideoGridItem .details .title {
    font-size: 18px;
    line-height: 24px;
}

.VideoGridItem .details .description {
    color: rgba(17,17,17,0.6);
    font-size: 13px;
    font-weight: 500;
}

.largeVideoGridContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.videoGridHeader .right {
    text-align: right;
}

.videoGridHeader a {
    color: rgba(17,17,17,0.6);
}

.videoGridHeader a:after {
    content: ' |'
}

.videoGridHeader a:last-child:after {
    content: ''
}
.signInLink{
    color: #fff;
    margin-left: 15px;
    font-weight: 500;
}
#sideNavContainer .navigationItems {
    overflow-y: auto;
}

#sideNavContainer .navigationItem {
    height: 40px;
    display: flex;
}

#sideNavContainer .navigationItem img {
    height: 18px;
    margin-right: 27px;
}

#sideNavContainer .navigationItem span {
    flex: 1;
    color: #111;
    font-size: 14px;
}

#sideNavContainer .navigationItem a {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 24px;
}

#sideNavContainer .navigationItem a:hover {
    background-color: rgba(0,0,0, 0.04);
}
#sideNavContainer .header{
    color: rgba(17,17,17,0.6);
    font-size: 14px;
    font-weight: 500;
    padding: 10px 24px 0;
    border-top: 1px solid #ededed;
    display: block;

}

.profileContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.coverPhotoContainer {
    height: 200px;
    flex: 1;
    position: relative;
}

.coverPhotoContainer .coverPhoto {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
    vertical-align: middle;
}

.coverPhotoContainer .channelName {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 50px;
}
.profileHeader{
    padding: 15px 100px 0 100px;
    display: flex;
    height: 100px;
}
.userInfoContainer{
    display: flex;
    flex: 1;
}
.profileHeader .userInfoContainer .profileImage{
height: 50px;
width: 50px;
margin: 15px;
}

.profileHeader .userInfo{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profileHeader .userInfo .title{
font-size: 20px;
font-weight: 500;
color: #111;
}
.profileHeader .userInfo .subscriberCount{
font-size: 14px;
color: rgba(17,17,17,0.6);
}
.profileHeader .buttonContainer{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.profileHeader .buttonContainer .buttonItem{
    align-items: center;
    display: flex;
}
.profileHeader .buttonContainer .buttonItem button{
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;

}
.profileContainer .channelContent{
    padding: 20px;
    background-color: #fff;
    border-color: 1px solid #ddd;
    border-top: none;
}
.nav-item a {
    color: rgba(17,17,17,0.6);
}
.channelContent .section .values{
    color: rgba(17,17,17,0.6);
    display: flex;
    flex-direction: column;

}
.channelContent .section .title{
    font-weight: 400;
    font-size: 17px;
}
.formSection:not(:last-child){
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dedede;
}
.settingsContainer form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.editVideoContainer {
    display: flex;
    flex-direction: column;
}
.editVideoContainer .topSection{
    display: flex;
}
.topSection .videoPlayer{
    max-height: 300px;
    flex: 1;
}
.editVideoContainer .topSection .thumbnailItemsContainer{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: 220px;
}
.editVideoContainer .topSection .thumbnailItemsContainer .thumbnailItem{
    margin-bottom: 10px;
    padding: 2px;
}
.editVideoContainer .topSection .thumbnailItemsContainer .thumbnailItem.selected{
    border: 3px solid #828282;
}

.editVideoContainer .topSection .thumbnailItemsContainer .thumbnailItem{
    width: 100%;
    cursor: pointer;
}
.bottomSection form{
    margin-right: auto;
    width: 70%;
}